@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, Roboto;
}

/*multi-use classes*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*header*/
header{
    width: 100%;
    position: fixed;
    background-color: white;
}

#header-div-left {
    width: 49%;
    display: inline-block;
}

.logo {
    vertical-align: middle;
    padding: 30px 0;
}

#header-div-left a {
    margin-left: 30px;
}

.header-nav {
    display: inline-block;
}

.header-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px 0;
}

#header-div-right {
    width: 50%;
    display: inline-block;
    text-align: right;
}

#header-div-right a {
    margin-right: 30px;
}

.header-nav a:hover {
    border-bottom: 2px solid blue;
}

/*section-1*/
#section-1 {
    background-color: aqua;
    padding-bottom: 800px;
    padding-top: 200px;
}

#section-1-first-container {
    width: 90%;
    margin: 0 auto;
}

#h1-container {
    text-align: center;
}

#section-1-float-left-div {
    width: 40%;
    float: left;
}

#section-1-float-right-div {
    width: 60%;
    float: right;
}

#section-1-img {
    width: 100%;
}