@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, Roboto;
}

/*header*/
.logo {
    vertical-align: middle;
}

#header-nav-left {
    display: inline-block;
}

#header-nav-left a {
    text-decoration: none;
    color: black;
}